<h2>Signup</h2>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <label>
        Name:
        <input type="text" formControlName="name" required />
      </label>
      <label>
        Email:
        <input type="email" formControlName="email" required />
      </label>
      <label>
        Password:
        <input type="password" formControlName="password" required />
      </label>
      <label>
        Mobile:
        <input type="password" formControlName="password" required />
      </label>
      <label>
        Address:
        <input type="password" formControlName="password" required />
      </label>
      <label>
        Gender:
        <input type="password" formControlName="password" required />
      </label>
      <label>
        Password:
        <input type="password" formControlName="password" required />
      </label>
      <button type="submit">Signup</button>
    </form>